.input-class{
    padding: 5px;
    border-radius: 50px;
    box-shadow: 3px 5px 2px 0px rgba(0,0,0,0.3) inset,
    -1px -3px 10px 0px rgba(250,250,250,0.3) inset;
    border-style: none;
    outline: none;
    margin:10px;
    font-size: 10px; 

}

.button-container {
    display:flex;
}

.button-style{
    background-color:#E0E5EC;
    border: none;
    border-radius: 10px;
    box-shadow: 9px 9px 16px rgb(163,177,198,0.6), -9px -9px 16px rgba(255,255,255, 0.5);
    color: #4D3252;
    font-weight: 700;
    height: 50px;
    margin-bottom: 48px;
    margin-right: 48px;
    overflow: hidden;
    position: relative;
    width: 70px;
  }
  
  button:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 200%;
    height: 100%;
    opacity: 0;
    transform: translateX(-100%);
    
    background: rgba(255, 255, 255, 0.13);
    background: linear-gradient(
      to right, 
      rgba(255, 255, 255, 0.13) 0%,
      rgba(255, 255, 255, 0.13) 77%,
      rgba(255, 255, 255, 0.5) 92%,
      rgba(255, 255, 255, 0.3) 100%
    );
  }
  
  button:hover:after {
    opacity: 1;
    top: 0;
    left: 0;
    transform: translateX(0);
    transition-property: transform, opacity;
    transition-duration: 0.9s, 0.10s;
    transition-timing-function: ease;
  }
  
  button:active:after {
    opacity: 0;
  }


