.sidebar {
    font-size:20px;
    position: fixed;
    cursor:pointer; 
    top: 0;
    left: 0;
    height: 100%;
    width: 200px;
    padding:20px;
    border: none;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

